@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courier+Prime&family=Libre+Baskerville:wght@700&family=Noto+Sans+KR:wght@300&display=swap');
* {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	text-decoration: none;
	color: black;
	list-style: none;
	font-family: 'Hahmlet', serif;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: 700;
	line-height: 22px;
}
