@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courier+Prime&family=Libre+Baskerville:wght@700&family=Noto+Sans+KR:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  text-decoration: none;
  color: black;
  list-style: none;
  font-family: "Hahmlet", serif;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.profilePhotoModi {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 600px;
  margin: 30px auto 0 auto;
}
button {
  border: solid #aaaaaa;
  border-width: 1px;
  border-radius: 10px;
  height: 25px;
  padding: 0 6px 0 6px;
  background-color: #f5f5f5;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 450;
}

.modiprofileImg {
  width: 180px;
  height: 180px;
  margin-top: 20px;
  object-fit: cover; /*img비율*/
  border-radius: 100px;
  border: none;
}
.profileInputSet {
  display: flex;
  flex-direction: row;
}
.profileInputBtn {
  width: 185px;
  display: none;
}
.photoModiBtn {
  width: 145px;
  /* height: 25px; */
  color: #fc5230;
  border: 2px solid rgb(252, 82, 48, 0.3);
  font-weight: 800;
  /* margin-left: 20px; */
  font-size: 0.8rem;
}
.photoDeleteBtn {
  width: 105px;
  /* height: 25px; */
  margin-top: 5px;
  color: rgb(131, 131, 131);
  font-weight: 800;
  font-size: 0.8rem;
}
.btnAndInfo {
  position: relative;
  margin: 35px 0 0 45px;
  height: 100%;
}
.profileModiInfo {
  margin-top: 20px;
  margin-left: 5px;
}

.profileModiInfo > p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 0.7rem;
  color: #8b8b8b;
}
.dropOutBtn {
  position: absolute;
  width: 60px;
  left: 95px;
  cursor: pointer;
  color: #747474;
  font-size: 0.7rem;
  font-weight: 500;
  text-decoration: underline;
  margin: 20px 0 0 210px;
}
.modifyTab > p {
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
}
.modifyTab {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 70px auto 0 auto;
  font-size: 0.9rem;
  font-weight: 500;
}
.modifyPlace {
  margin-top: 70px;
}
.Inputs {
  width: 600px;
  position: relative;
  margin: 40px auto 0 auto;
}

.ModiNickName,
.ModiItem {
  display: flex;
  width: 500px;
  height: 25px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.ModiNickName > input {
  width: 225px;
  margin-right: -145px;
  border-radius: 10px;
  border: solid #aaaaaa 1px;
  padding-left: 10px;
  font-weight: 500;
}

.ModiItem > input {
  width: 300px;
  border-radius: 10px;
  border: solid #aaaaaa 1px;
  padding-left: 10px;
  font-weight: 500;
}
.inputInfo {
  color: #aaaaaa;
  font-size: 0.7rem;
  position: absolute;
  top: 27px;
  left: 200px;
  font-weight: 300;
}
.ModiNickName > p:first-child,
.ModiItem > p:first-child {
  font-size: 0.9rem;
  font-weight: 500;
}
.okBtnDiv {
  width: 600px;
  margin: 60px auto 0 auto;
  text-align: center;
}
.okBtnDiv > button {
  width: 100px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  .profilePhotoModi {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 400px;
    margin: 20px auto 0 auto;
  }
  button {
    border: solid #aaaaaa;
    border-width: 1px;
    border-radius: 10px;
    height: 25px;
    padding: 0 10px 0 10px;
    background-color: #f5f5f5;
    cursor: pointer;
  }
  .m {
    width: 130px;
    height: 130px;
    margin-top: 30px;
    border-radius: 100px;
  }
  .photoModiBtn {
    width: 130px;
    height: 25px;
  }
  .photoDeleteBtn {
    width: 50px;
    height: 25px;
    margin-left: 5px;
  }
  .btnAndInfo {
    margin: 35px 0 0 20px;
    height: 100%;
  }
  .profileModiInfo {
    margin-top: 20px;
    margin-left: 5px;
  }

  .profileModiInfo > p {
    margin-top: 10px;
    font-size: 0.7rem;
    color: #aaaaaa;
  }
  .dropOutBtn {
    cursor: pointer;
    color: #b9b9b9;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: underline;
    margin: 20px 0 0 180px;
  }
  .modifyPlace {
    margin-top: 70px;
  }
  .Inputs {
    width: 400px;
    position: relative;
    margin: 40px auto 0 auto;
  }

  .ModiNickName,
  .ModiItem {
    display: flex;
    width: 400px;
    height: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .ModiNickName > input {
    width: 225px;
    margin-left: -90px;
    border-radius: 10px;
    border: solid #aaaaaa 1px;
    padding-left: 5px;
    font-weight: 500;
  }

  .ModiItem > input {
    width: 300px;
    border-radius: 10px;
    border: solid #aaaaaa 1px;
    padding-left: 5px;
    font-weight: 500;
  }
  .inputInfo {
    color: #aaaaaa;
    font-size: 0.6rem;
    position: absolute;
    top: 27px;
    left: 100px;
  }
  .ModiNickName > p:first-child,
  .ModiItem > p:first-child {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .ModiNickName > button {
    font-size: 0.8rem;
  }
  .okBtnDiv {
    width: 400px;
    margin: 60px auto 0 auto;
    text-align: center;
  }
  .okBtnDiv > button {
    width: 100px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
  }
} ;
