@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courier+Prime&family=Libre+Baskerville:wght@700&family=Noto+Sans+KR:wght@300&display=swap');

* {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	text-decoration: none;
	color: black;
	list-style: none;
	font-family: 'Hahmlet', serif;
	font-family: 'IBM Plex Sans KR', sans-serif;
}
.mapPageContainer {
	box-sizing: border-box;

	width: 990px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

	display: flex;
	justify-content: space-between;
}
.mapPageTitle {
	/* margin-left: 72px; */
	position: relative;
	width: 120px;
	height: 18px;

	margin-top: 20px;
	font-weight: bold;
	font-size: 0.9rem;
	line-height: 18px;

	color: #000000;
}
#mapPage {
	/* 지도영역 사각형 */
	position: relative;

	width: 440.27px;
	height: 700px;
	margin-top: 10px;

	background: #ffffff;
	border: 1px solid #aaaaaa;
	border-radius: 20px;
}

#getCurPosBtn {
	position: absolute;
	z-index: 10;
	width: 40px;
	height: 40px;
	margin-top: -50px;
	margin-left: 390px;
	cursor: pointer;
}
#mapCurrentHandler {
	width: 160px;
	border: none;
	background-color: rgb(254, 204, 190, 0.5);
	font-size: 0.8rem;
	font-weight: bold;
	position: absolute;
	left: 280px;
	top: -5px;
}

/* 리스트영역 */
.mapListTitle {
	margin-top: 20px;
	font-weight: bold;
	font-size: 0.9rem;
	line-height: 18px;
}
#mapList {
	width: 370.12px;
	height: 700px;
	margin-top: 10px;
	margin-right: 40px; /*안하면 애매..?*/

	background: #ffffff;
	border: 1px solid #aaaaaa;
	border-radius: 20px;

	overflow: auto;
	overflow-x: hidden;
}
#mapList > div {
	padding: 10px;
	display: flex;
}
.mapItemImg {
	margin-right: 10px;
}
.mapItemCafeName {
	color: #fc5230;
	font-weight: bold;
	font-size: 0.85rem;
	padding-left: 5px;
	padding-top: 2px;
}
.mapItemCafeName:hover {
	background-color: rgb(245, 245, 245);
	border-radius: 10px;
	width: 300px;
}
.mapItemCafeAddr {
	font-weight: 500;
	font-size: 0.75rem;
}

#markerName {
	display: block;
	text-decoration: none;
	color: #111;
	text-align: center;
	border-radius: 6px;
	font-size: 13px;
	font-weight: 500;
	overflow: hidden;
	background: #ffffff;
	border: solid 1px #aaaaaa;
	padding: 3px 7px 3px 7px;
}
