@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courier+Prime&family=Libre+Baskerville:wght@700&family=Noto+Sans+KR:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  text-decoration: none;
  color: black;
  list-style: none;
  font-family: "Hahmlet", serif;
  font-family: "IBM Plex Sans KR", sans-serif;
}
/* html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
} */
/* .wrap {
  position: relative;
  min-height: 100%;
  padding-bottom: 200px;
} */
.footer {
  width: 100%;
  height: 85px;
  text-align: center;
  margin-top: 100px;
  padding-top: 20px;
  background-color: rgb(243, 243, 243);
}
.footer > p {
  font-size: 12px;
  margin-top: 10px;
}

@media screen and (max-width: 500px), (max-width: 320px) {
  .wrap {
    position: relative;
    min-height: 100%;
    padding-bottom: 150px;
  }

  .footer {
    width: 500px;
    height: 80px;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    background-color: rgb(243, 243, 243);
  }
  .footer > p {
    font-size: 12px;
    margin-top: 10px;
  }
} ;
