@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courier+Prime&family=Libre+Baskerville:wght@700&family=Noto+Sans+KR:wght@300&display=swap');

* {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	text-decoration: none;
	color: black;
	list-style: none;
	font-family: 'Hahmlet', serif;
	font-family: 'IBM Plex Sans KR', sans-serif;
}
.header_wrap {
	width: 100%;
}
.header {
	position: relative;
	width: 990px;
	height: 136px;
	margin-left: auto;
	margin-right: auto;
}
.logo > a > img {
	width: 100%;
}
.logo {
	width: 70px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.header-navi {
	position: absolute;
	top: 55px;
	right: 30px;
}
.header-navi > ul {
	display: flex;
	flex-direction: row;
}
.header-navi > ul > li {
	margin: 0 13px 0 13px;
	font-size: 0.9rem;
	font-weight: 300;
	cursor: pointer;
}

@media screen and (max-width: 500px) {
	.header {
		position: relative;
		width: 500px;
		height: 136px;
		margin-left: auto;
		margin-right: auto;
	}
	.logo > a > img {
		width: 100%;
	}
	.logo {
		width: 50px;
		padding-top: 40px;
		margin-left: 30px;
		/* margin-left: auto;
        margin-right: auto; */
	}
	.header-navi {
		position: absolute;
		top: 55px;
		right: 30px;
	}
	.header-navi > ul {
		display: flex;
		flex-direction: row;
	}
	.header-navi > ul > li {
		margin: 0 10px 0 10px;
		font-size: 0.8rem;
		cursor: pointer;
		font-weight: 500;
	}
} ;
